<!-- res/values/strings.xml (translate into values-xx/ if the app is localized) -->
<string name="default_launcher_reminder_channel">Default launcher reminder</string>
<string name="default_launcher_reminder_title">Make Gallery your home screen</string>
<string name="default_launcher_reminder_text">Set Gallery as your default launcher for faster, smoother access.</string>
